@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@700&display=swap');




.nav {
  background-color: #F55A5A;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-right: 0; /* add this line */


  }
  
.nav--text{
  text-align: center;
  font-family:Inter;
  font-weight:500;
  font-size:14.46px;
  letter-spacing: -7.5%;   
  color: #FFFFFF;
  margin-top: 0.5%;


  
    }

#Journey {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0%;
 
  }

  .outerClassBox {
    width: 470px;
    height: auto;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
  }
  
 #id-box{
  width: 100%;
  height: 168px;
  border: none;
 
  
 } 

  .card--img{
    width: 125px;
    height: 168px;
    border-radius: 5px;
     }

 


.card--description{
width: 100%;
height: 45px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
}



.card--location{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
}

.card-gmaps{
 font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
color: #918E9B;

text-decoration-line: underline; 
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-size: 25px;
  line-height: 30px;

color: #2B283A;
}

.card--dates{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  
  color: #2B283A;
}